@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "M PLUS 1";
  background-color: #11221d;
  overflow-x: hidden;
}
.layer {
  background: url("./Assets/layer.png") no-repeat center center/cover;
  overflow-x: hidden;
}
.main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
  z-index: 999;
}
/* header {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
} */
.nav{
  position: fixed;
  width: 100%;
  background: #0000007f;
  backdrop-filter: blur(10px);
  z-index: 999;
}
.header-layout {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 1rem;
  z-index: 999;
}
header .desktop-nav {
  display: none;
}
.contact-btn-container {
  display: none;
}
.logo-menuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
}
.logo span {
  color: #ffffff;
}
.fa-bars {
  font-size: 20px;
  color: #ffffff;
}
.fa-xmark {
  font-size: 30px;
  color: black;
}
.side-bar-main {
  position: fixed;
  top: 0;
  right: -900px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(10px);
  transition: all 500ms ease-in-out;
}
.show-sidebar {
  right: 0;
}
.sub-side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 7px;
  padding-left: 20px;
}
.side-bar-nav-link {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.side-bar-nav-link a {
  color: #000000;
  text-decoration: none;
}
.side-bar-nav-link li {
  width: 100%;
  list-style: none;
}
.contact-btn-desktop {
  display: none;
}
.contact-btn-mobile {
  border: none;
  color: #ffffff;
  /* border: none; */
  padding: 12px 32px 12px 32px;
  background-color: #2bb32a;
  border-radius: 64px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-bar {
    display: none;
  }
  header .desktop-nav {
    display: block;
  }
  .nav-link {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .nav-link li {
    list-style: none;
  }
  .nav-link a {
    color: #ffffff;
    text-decoration: none;
  }

  .contact-btn-desktop {
    display: block;
    border: 2px solid #2bb32a;
    color: #2bb32a;
    /* border: none; */
    padding: 12px 32px 12px 32px;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 64px;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
  .contact-btn-desktop:hover {
    transform: scale(0.7);
  }
  .side-bar-main {
    display: none;
  }
}
/* @media (min-width: 658px) and (max-width: 740px) {
  .sub-side-bar{
  overflow: auto;
}
} */
/* hero style */
.hero-sec-main {
  margin-top: 5rem;
  margin-bottom: 3rem;
  /* min-height: 80vh; */
}
.sub-hero-sec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-righ-card {
  max-width: 100%;
  height: auto;
}
.hero-right {
  position: relative;
  /* display: none; */
}
.hero-right-green {
  position: absolute;
  max-width: 492px;
  width: 100%;
  display: none;
}
.hero-left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-left-img {
  position: absolute;
  width: 200px;
  top: 30px;
}
.hero-left h4 {
  width: 320px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -2.5%;
  color: #ffffff;
}
.hero-left p {
  /* width: 300px; */
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #adb2b1;
}
.hero-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 64px;
  background-color: #2bb32a;
  padding: 13px 35px;
  color: #ffffff;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.hero-btn:hover {
  transform: scale(0.7);
}
.hero-btn img {
  width: 22.5px;
}
.frame1 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.frame2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.frame2 span {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
.frame2 p {
  width: 177px;
  font-weight: 400;
  font-size: 12px;
  color: #adb2b1;
}
@media screen and (min-width: 1200px) {
  .hero-sec-main {
    min-height: 100vh;
  }
  .hero-left-img {
    width: 359px;
    top: 55px;
  }
  .hero-right-green {
    display: block;
    top: 46px;
    left: 285px;
    z-index: -1;
  }
  .hero-left h4 {
    width: 604px;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2.5%;
    color: #ffffff;
  }
  .hero-left p {
    width: 498px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #adb2b1;
  }
  .frame2 p {
    width: 177px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #adb2b1;
  }
}
@media screen and (min-width: 1024px) {
  .hero-sec-main {
    margin-bottom: 4rem;
  }
  .sub-hero-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) and (max-width: 911px) {
  .hero-sec-main {
    margin-bottom: 4rem;
  }
  .sub-hero-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}

/* about style */
.about-sec-main {
  margin-bottom: 5rem;
}
.about-layout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* margin-top: 1.5rem; */
  padding: 64px;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(10px);
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.about-content h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.32px;
  color: #ffffff;
}
.about-content span {
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2bb32a;
}
@media screen and (min-width: 1200px) {
  .about-sec-main {
    height: 80vh;
  }
  .about-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-content h4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.32px;
    color: #ffffff;
  }
}
@media screen and (min-width: 1024px) {
  .about-sec-main {
    margin-bottom: 5rem;
  }
  .about-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-content h4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.32px;
    color: #ffffff;
  }
}
@media (min-width: 740px) and (max-width: 991px) {
  .about-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-content h4 {
    font-weight: 700;
    font-size: 35px;
    line-height: 56px;
    letter-spacing: -0.32px;
    color: #ffffff;
  }
}
@media (min-width: 540px) and (max-width: 668px) {
  .about-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-content h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: -0.32px;
    color: #ffffff;
  }
  .about-content span {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #2bb32a;
  }
}

/* sponsors style */
.sponsors-main-section {
  margin-bottom: 3rem;
}
.sub-sponsors-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .sponsors-main-section {
    height: 80vh;
  }
  .sub-sponsors-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .sub-sponsors-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sub-sponsors-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
/* features style */
.features-main-section {
  margin-bottom: 4rem;
}
.title {
  text-align: center;
  height: 56px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 45.92px;
  color: #ffffff;
}
.features-content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.features-img {
  width: 40px;
  padding: 12px;
  border-radius: 24px;
  background-color: #3d544d;
}
.features-img img {
  width: 16px;
  /* background-color: #3d544d; */
}
.features-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features-desc h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 34.75px;
  color: #ffffff;
}
.features-desc p {
  width: 250px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.17px;
  color: #adb2b1;
}
@media screen and (min-width: 1200px) {
  .features-main-section {
    height: 80vh;
  }
  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 57.92px;
    color: #ffffff;
  }
  .features-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
  .features-img {
    width: 64px;
    padding: 16px;
    border-radius: 24px;
    background-color: #3d544d;
  }
  .features-img img {
    width: 32px;
  }
  .features-desc h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 34.75px;
    color: #ffffff;
  }
  .features-desc p {
    width: 286px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.17px;
    color: #adb2b1;
  }
}
@media screen and (min-width: 1024px) {
  .features-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
  .features {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .features-desc p {
    width: 230px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.17px;
    color: #adb2b1;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .features-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
  .features-img {
    width: 64px;
    padding: 16px;
    border-radius: 24px;
    background-color: #3d544d;
  }
  .features-img img {
    width: 25px;
    /* background-color: #3d544d; */
  }
  .features-desc p {
    width: 230px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.17px;
    color: #adb2b1;
  }
}
/* @media (min-width: 658px) and (max-width: 767px) {
  .features-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
} */

/* personalize-card style */
.personalize-card-container {
  margin-bottom: 3rem;
}
.personalize-card-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.personalize-card-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.personalize-card-left-title {
  width: 304px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40.92px;
  color: #ffffff;
}
.personalize-card-left-desc {
  /* font-family: "poppins"; */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adb2b1;
}
.personalize-card-left-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border: none;
  border-radius: 64px;
  padding: 16px 32px 16px 32px;
  color: #ffffff;
  background-color: #2bb32a;
  transition: all 1s ease-in-out;
}
.personalize-card-left-btn:hover {
  transform: scale(0.7);
}
.personalize-card-right img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .personalize-card-container {
    height: 80vh;
  }
  .personalize-card-left-title {
    width: 604px;
    font-weight: 700;
    font-size: 40px;
    line-height: 57.92px;
    color: #ffffff;
  }
  .personalize-card-left-desc {
    width: 424px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #adb2b1;
  }
}
@media screen and (min-width: 1024px) {
  .personalize-card-layout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .personalize-card-left-desc {
    width: 424px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #adb2b1;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .personalize-card-layout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

/* find-perfect-card style */
.find-perfect-card-container {
  margin-top: 5rem;
}
.find-perfect-card-layout {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.find-perfect-card-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.find-perfect-card-right-title {
  width: 304px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40.92px;
  color: #ffffff;
}
.find-perfect-card-right-desc {
  /* width: 304px; */
  /* font-family: "poppins"; */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adb2b1;
}
.find-perfect-card-right-btn {
  cursor: pointer;
  border: none;
  border-radius: 64px;
  padding: 16px 32px 16px 32px;
  color: #ffffff;
  background-color: #2bb32a;
  transition: all 1s ease-in-out;
}
.find-perfect-card-right-btn:hover {
  transform: scale(0.7);
}
.find-perfect-card-left img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .find-perfect-card-container {
    height: 80vh;
  }
  .find-perfect-card-right-title {
    width: 604px;
    font-weight: 700;
    font-size: 40px;
    line-height: 57.92px;
    color: #ffffff;
  }
  .find-perfect-card-right-desc {
    width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #adb2b1;
  }
}
@media screen and (min-width: 1024px) {
  .find-perfect-card-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .find-perfect-card-right-desc {
    width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #adb2b1;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .find-perfect-card-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .find-perfect-card-right-desc {
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #adb2b1;
  }
}

/* testimonal style */
.testimonal-main-section {
  margin-bottom: 2rem;
}
.testimonal-section {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
}
.testimonal {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 32px;
  /* background-color: white; */
  /* background-color: #27322f3d; */
  background-color: rgba(255, 255, 255, 0.114);
  backdrop-filter: blur(10px);
  padding: 48px 24px 48px 24px;
  /* backdrop-filter: blur(10px); */
}
.quote {
  width: 56px;
  border-radius: 56px;
  padding: 16px;
  background-color: #3d544d;
}
.avarter {
  display: flex;
  align-items: center;
  gap: 8px;
}
.avarter-name-profession {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.testimonie {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.avarter-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #ffffff;
}
.avarter-profession {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .testimonal-main-section {
    height: 80vh;
  }
  .testimonie {
    width: 344px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .testimonal-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

/* FAQs style */
.faqs-main-sec {
  margin-top: 3rem;
}
.faqs-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.faqs-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faqs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.question-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.answer {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adb2b1;
}
hr {
  padding: 1px;
  background-color: #ffffff;
}
/* hide answer */
.answer {
  display: none;
}
.show-answer .answer {
  display: block;
}
.minus-icon {
  display: none;
}
.show-answer .minus-icon {
  display: inline;
}
.show-answer .plus-icon {
  display: none;
}

@media screen and (min-width: 1200px) {
  .faqs-main-sec {
    height: 80vh;
  }
}
/* cta style */
.cta-main-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cta-right img {
  max-width: 100%;
  height: auto;
}
.cta-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cta-left h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.48px;
  color: #ffffff;
}
.cta-left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -3%;
  color: #adb2b1;
}
.download-on-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.download-on-container img {
  width: 100.94px;
}
.app-store {
  border-radius: 16px;
  padding: 16px;
  background-color: #3d544d;
}
.play-store {
  border-radius: 16px;
  padding: 16px;
  background-color: #3d544d;
}
@media screen and (min-width: 1200px) {
  .cta-left h4 {
    width: 604px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.48px;
    color: #ffffff;
  }
  .cta-left p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -3%;
    color: #adb2b1;
  }
}
@media screen and (min-width: 768px) {
  .cta-main-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .download-on-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
  }
}

/* footer style */
.footer-main {
  width: 100%;
  padding: 50px 0;
  background-color: #2834303d;
}
.sub-footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}
.footer-content-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-logo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -3%;
  color: #adb2b1;
}
.footer-content-grid ul li {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adb2b1;
}
.header {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.copywrite-cookies {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.copywrite {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #adb2b1;
}
.cookies {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #adb2b1;
}
.cookies a {
  color: #adb2b1;
}
@media screen and (min-width: 1200px) {
  .footer-content-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
  .footer-logo p {
    width: 287px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -3%;
    color: #adb2b1;
  }
}
@media screen and (min-width: 1024px) {
  .footer-content-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  .copywrite-cookies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .copywrite-cookies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #3d544d;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  color: #ffff;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: 100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
